//colors
$light-blue: #85d4c3; //for agency bg and project title
$dark-blue: #000212;
$orange: #f26957; //for designers bg, form bg, menu text

//menu
$font-menu: 'Comfortaa', Helvetica, Arial, 'sans serif';
$font-menu-size: 25px;


//title
$font-title: 'Comfortaa', Helvetica, Arial, 'sans serif';
$mobile-font-title-size: 35px;
$font-title-size: 42px;

//subtitle
$font-subtitle: 'Raleway', Helvetica, Arial, 'sans serif';
$mobile-font-subtitle-size: 20px;
$font-subtitle-size: 25px;

//buttons
$font-button: 'Raleway', Helvetica, Arial, 'sans serif';
$font-button-size: 18px;

//skills
$font-skills: 'Comfortaa', Helvetica, Arial, 'sans serif';
$mobile-font-skills-size: 30px;
$font-skills-size: 35px;

//icons
$font-icons: 'Raleway', Helvetica, Arial, 'sans serif';
$mobile-font-icons-size: 15px;
$font-icons-size: 20px;

//icons text
$font-text-icons: 'Raleway', Helvetica, Arial, 'sans serif';
$mobile-font-text-icons-size: 12px;
$font-text-icons-size: 16px;

//touch
$font-touch: 'Comfortaa', Helvetica, Arial, 'sans serif';
$mobile-font-touch-size: 25px;
$font-touch-size: 28px;

//lightbox
$font-lightbox: 'Raleway', Helvetica, Arial, 'sans serif';
$font-title-lightbox: 'Comfortaa', Helvetica, Arial, 'sans serif';
$mobile-font-lightbox-size: 18px;
$font-lightbox-size: 20px;
$font-title-lightbox-size: 30px;


//project title
$font-project: 'Comfortaa', Helvetica, Arial, 'sans serif';
$mobile-font-project-size: 28px;
$font-project-size: 25px;

//project text
$font-project-text: 'Raleway', Helvetica, Arial, 'sans serif';
$mobile-font-project-text-size: 15px;
$font-project-text-size: 20px;

//project subtitle
$font-project-sub: 'Raleway', Helvetica, Arial, 'sans serif';
$mobile-font-project-sub-size: 12px;
$font-project-sub-size: 15px;

